$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$bootstrap-sass-asset-helper: false;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~react-crux/scss/crux.scss";

html {
  height: 100%;
  font-family: sans-serif;
}
body {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  display: flex;
}
.column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#left {
  flex-shrink: 0;
  background-color: #333;
  color: white;
}
#right {
  background-color: #f3f3f3;
}
.top-left {
  flex-shrink: 0;
  padding: 20px;
}
.top-right {
  display: inline-flex;
  flex-shrink: 0;
  background-color: #333;
  color: white;
  padding: 20px;
}
.bottom {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}
ul{
  display: inline-flex;
  list-style: none;
  margin: 0;
}
li{
  margin-right: 20px;
}
a {
  color: white;
  text-decoration: none;
}